################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Practeece.GolfHoles/v15/Server/sqlite3
